*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(190, 171, 171);
    box-shadow: 5px 5px 6px rgb(230, 210, 210);

    /* overflow: hidden; */
}

.item6{
    overflow: hidden;
}

header div.part2{
    border-left: 2px solid black;
}
.fa-linkedin{
    font-size: 45px;
    color: royalblue;
}
div.searchbar{
    background: rgb(209, 236, 251);
    padding: 5px 15px;
    border-radius: 5px;
}
.searchbox{
    border: none;
    height: 30px;
    width: 250px;
    background-color:rgb(209, 236, 251);
    margin-left: 5px;
}
.child1part1{
    display: flex;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    justify-content: center;
    align-items: center;
}
.itempart1{
    margin-left: 10px;
}
.part1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid red; */
    width: 100%;
}
.child2part1{
    display: flex;
}
.child2part1 div{
    margin-left: 10px;
    text-align: center;
}
.navlink{
    color: gray;
}
.navlink:hover{
    color: black;
}

/* hover property */

/* .child2part1 div i:hover{
    color: black;
}
.child2part1 div p:hover{
    color: black;
} */

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    padding-inline-end: 50px;
}
.part2 div{
    margin-left: 20px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    text-align: center;
}

/* hover property */
/* .part2 div i:hover{
    color: black;
}
.part2 div p:hover{
    color: black;
} */
header p:hover{
    cursor: pointer;
}
.dropdownicon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.dropdownicon i{
    margin-left: 3px;
}
.dropdownicon i:hover{
    cursor: pointer;
}
/* div.child2part1 a{
    text-decoration: none;
}
div.part2 > a{
    text-decoration: none;
} */
.navlink{
    text-decoration: none;
}
a.active{
    color: black;
}


/* css for account dropdown */
div.profilepic{
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
    /* border: 2px solid blue; */
}
.profilepic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
div.dropdownlist{
    border: 2px solid rgb(221, 221, 246);
    width: 17rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 4 4 4 rgb(221, 221, 246);
    display: none;
}
div.dropdownlist a{
    text-decoration: none;
}
div.profile_name{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 10px;
}
.flex-item{
    margin-inline-end: 10px;
}
.btn{
    /* border: 2px solid red; */
    margin: 10px 10px 10px;
}
.profilebtn{
    width: 100%;
    border: 2px solid blue;
    padding: 1px;
    border-radius: 10px;
    font-weight: 500;
    font-size: medium;
    color: blue;
    background-color: white;
}
.profilebtn:hover{
    background-color: rgb(70, 70, 250);
    color: white;
}
div.account{
    margin: 10px;
}
.accountspan{
    margin-left: 5px;
    font-weight: bold;
}
.account i{
    color: orange;
}
.account h3{
    margin-bottom: 10px;
}
p.same{
    margin-bottom: 5px;
    margin-top: 8px;
    color: gray;
}
div.manage{
    margin: 10px;
}
a.anchorlink:hover{
    text-decoration: underline;
}
a.spanlink:hover{
    color: blue;
}
a.ddblink:hover + .dropdownlist{
    display: block;
    float: left;
    /* z-index: 1; */
}

/* styling grid */
.gridcontainer{
    /* border: 2px solid red; */
    margin-top: 20px;
    padding: 0 10rem;
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 2rem;
    margin-bottom: 10px;
}
.gridcontainer .grid-item-item4{
    grid-area: 2/1/5/2;
}
.gridcontainer>div{
    border: 1px solid rgb(190, 171, 171);
    box-shadow: 5px 5px 6px rgb(230, 210, 210);
    border-radius: 5px;
}
/* styling first column of grid */
div.backgroundimage{
    position: relative;
}

.backgroundprofile{
    height: 70px;
    width: 100%;
    /* position: absolute; */
    /* z-index: -1; */
}
.myprofilrpic{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* position: relative; */
    /* z-index: 1; */
    top: 60%;
    left: 40%;
    bottom: 0;
    right: 0;
}
div.myname{
    text-align: center;
    /* border: none; */
}
.paragraphs1{
    padding: 10px;
    
}
.dflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p.connections{
    color: blue;
}
.paragraphs2{
    padding: 10px;
}
.paragraphs2 i{
    color: orange;
}
.paragraphs3{
    padding: 10px;
}

.paragraphs3 i{
    color: gray;
}
div.gridcontainer .item2{
    padding: 15px;
}
div.gridcontainer .item2 img{
    height: 150px;
    width: 130px;
}
 .d-grid1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-grid1 h2{
    text-align: center;
}
.d-grid1 .grid1p{
    text-align: center;
    color: gray;
    font-size: large;
    margin-top: 5px;
}
div.buttons{
    /* border: 2px solid red; */
    width: 100%;
}
div.buttons input{
    width: 45%;
    margin-left: 10px;
    padding: 5px;
    border-radius: 15px;
    border-color: blue;
    background-color: white;
    font-weight: 700;
    color: blue;
    margin-top: 25px;
}
div.buttons input:hover{
    background-color: rgb(208, 255, 239);
}

.grid-item .newsheading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gridcontainer .item3{
    padding: 10px;
}
.grid-item .news{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.news h4{
    margin-left: 10px;
} 
/* .news2 h4{
    margin-left: 10px;
} */
.grid-item .news i{
    font-size: 8px;
    color: gray;
}
.grid-item a{
    text-decoration: none;
    color: black;
}
.gridcontainer .item3 a p{
    color: gray;
    margin-left: 20px;
}
div.item3 .n1:hover{
    background-color: gainsboro;
}
div.item3 .n2:hover{
    background-color: gainsboro;
}
div.item3 .n3:hover{
    background-color: gainsboro;
}
div.item3 .n4:hover{
    background-color: gainsboro;
}
div.item3 .n5:hover{
    background-color: gainsboro;
}
.showmorebtn{
    display: flex;
    width: 50%;
    /* border: 2px solid rebeccapurple; */
    align-items: center;
    margin-top: 30px;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}
a.btnshow{
    text-decoration: none;
}
a.btnshow div:hover{
    background-color: rgb(206, 206, 206);
}
a.btnshow p{
    color:black;
    font-weight: bold;
}
.gridcontainer .grid-item-item4 .recent .wfh a, .pdc a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: gray;
    margin-top: 10px;
}
.gridcontainer .grid-item-item4 .hashtags .wfh a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: gray;
    margin-top: 10px;
}
.gridcontainer .grid-item-item4 .recent .wfh a p,.pdc a p{
    margin-left: 5px;
}

.gridcontainer .grid-item-item4 .recent,.groups,.events,.hashtags,.more{
    padding: 10px;
}
/* .gridcontainer .grid-item-item4 a.content{
    color: gray;
} */
.gridcontainer .grid-item-item4 .hashtags>a{
    color: blue;
    font-weight: bold;
}
.gridcontainer .grid-item-item4 .more{
    text-align: center;
    font-weight: bold;
}
.gridcontainer .grid-item-item4 .more:hover{
    background-color: gainsboro;
}
.gridcontainer .grid-item-item4 .more>a{
    color: gray;
}
.gridcontainer .grid-item-item4 .groups .pdc>p{
    padding-left: 20px;
    margin-top: 5px;
    color: gray;
}
.gridcontainer .grid-item-item4 .groups>a{
    color: blue;
    font-weight: bold;
}
.gridcontainer .grid-item-item4 .events{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gridcontainer .grid-item-item4 .events a{
    color: blue;
    font-weight: bold;
}
.wfh a:hover{
    background-color: gainsboro;
}
.pdc a:hover{
    background-color: gainsboro;
}
.groups>a:hover{
    text-decoration: underline;
}
.events>a:hover{
    text-decoration: underline;
}
.hashtags>a:hover{
    text-decoration: underline;
}
div.events span:hover{
    background-color: gainsboro;
    border-radius: 50%;
    cursor: pointer;
}
.gridcontainer .grid-item-item5 .startpost{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid salmon; */
    padding: 10px;
}
.gridcontainer .grid-item-item5 .startpost input{
    height: 40px;
    width: 100%;
    border-radius: 25px;
    margin-left: 10px;
    border: 1px solid gray;
}
.startpost input:hover{
    background-color: rgb(206, 206, 206);
}
.startpost input::placeholder{
    font-weight: bold;
    padding-left: 20px;
    font-size: 15px;
}
.gridcontainer .grid-item-item5 .startpost img{
   height: 50px;
   width: 50px;
   border-radius: 50%;
}
.gridcontainer .grid-item-item5 .iconstext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid salmon; */
    padding: 10px;
}
.iconstext span{
    margin-left: 10px;
}
.iconphoto i{
    font-size: larger;
    color: blue;
}
.iconvideo i{
    font-size: larger;
    color: green;
}
.iconevent i{
    font-size: larger;
    color:chocolate;
}
.iconarticle i{
    font-size: larger;
    color:orangered;
}
.gridcontainer .grid-item-item6{
    grid-area: 2/3/4/4;
}
.gridcontainer .grid-item-item6{
    padding: 15px;
}
.gridcontainer .grid-item-item6 .ad{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.gridcontainer .grid-item-item6 .ad i{
    margin-left: 5px;
}
.gridcontainer .grid-item-item6 .twoimages{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.gridcontainer .grid-item-item6 .twoimages img{
    width: 70px;
    height: 70px;
}
.gridcontainer .grid-item-item6 .twoimages .img1{
    border-radius: 50%;
}
.gridcontainer .grid-item-item6 .twoimages .img2{
    border-radius: 20%;
    margin-left: 20px;
}
.gridcontainer .grid-item-item6 .growbusiness{
    text-align: center;
    /* color: gray; */
    font-size: large;
}
.gridcontainer .grid-item-item6 .visit{
    text-align: center;
    color: gray;
}
.followadbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.followadbtn input{
    padding: 5px 15px;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    border: 2px solid gray;
}
.followadbtn input:hover{
    background-color:gainsboro;
    font-weight: bold;
}

.gridcontainer .grid-item-item7{
    grid-area: 3/2/7/3;
    /* border: 2px solid blue; */
    padding: 10px;
}
.grid-item-item7 .topheading .headingimg img{
    width: 40px;
    height: 40px;
}
.grid-item-item7 .topheading .headingimg{
    position: relative;
}
.grid-item-item7 .topheading .headingimg .imgprofile{
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 34%;
    /* right: 10px; */
}
.topheading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topheading .headingdots{
    align-self: flex-start;
}
.topheading .top_img{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.top_img .headingcontent{
    margin-left: 15px;
}
.headingcontent p i.fa-circle{
    font-size: 5px;
}
.headingcontent a p{
    font-weight: bold;
    color: rgb(71, 62, 62);
}
.headingcontent>p{
    color: gray;
}
.headingdots i{
    font-size: 25px;
    color: rgb(71, 62, 62);
}
div.learnpandas img{
    height: 400px;
    width: 100%;
}
.grid-item-item7 .like i{
    background-color:lightsteelblue;
    border-radius: 50%;
    margin: 5px;
    transform: rotate(360deg);
}
.grid-item-item7 div.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
div.icons i{
    margin-right: 5px;
    font-size: 25px;
}
.icons div{
    padding: 10px;
}
.icons div:hover{
    background-color: gainsboro;
}